<?xml version="1.0"?>

<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WorkFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!--
    <add key="ConnectionString" value="server=192.168.123.55;initial Catalog=StrWebFlow;MultipleActiveResultSets=True;user id=stronereport;password=ma$terpwd"/>
    <add key="ConnectionString" value="server=192.168.122.10;initial Catalog=StrWebFlow;MultipleActiveResultSets=True;user id=stronereport;password=ma$terpwd"/>
    -->
    <add key="ConnectionString" value="server=192.168.122.10;initial Catalog=StrWebFlow;MultipleActiveResultSets=True;user id=stronereport;password=ma$terpwd"/>
    <add key="LogonTimeout" value="600" />
    <add key="AllowLogonTime" value="3" />
    <add key="HomePage" value="Default.aspx" />
    <add key="StroneEmail" value="@strone.ca" />
    <add key="ProjectManagerRole" value="211" />
    <add key="BranchManagerRole" value="210" />
    <add key="CoordinatorRole" value="230" />
    <add key="AdministratorRole" value="220" />
    <add key="ImageFileExt" value="gif,jpg,bmp,tif,tiff,png" />
    <add key="defDateFormat" value="MM/dd/yyyy" />
    <add key="defCulZone" value="en-US" />
    <add key="PictureBasePath" value="c:\inetpub\wwwroot\strwebflow\ClaimFiles\"/>
    
    <!--
    <add key="DBConnection" value="server=development;uid=sa;pwd=doxmarch24;database=StrWebFlow;Connect Timeout=200; pooling='true'; Max Pool Size=200" />
        -->
  </appSettings>

  <system.web>
    <!--FILE UPLOAD settings -->
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="2097151000" executionTimeout="3600"/>

    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" batch="false"/>
    <authentication mode="Forms">
      <forms loginUrl="logon.aspx" timeout="2" />
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
